body {
  margin-top: 30px;
  background-color: #ADD8E6;
}

#onlineUsers h3, h4, #hostControls h3 {
  text-align: center;
}

#buttonControls {
  display: flex;
  justify-content: space-between;
}
 #kickControls{
   display:flex;
   justify-content: space-between;
 }

#messageForm {
  padding: 0px;
  position: initial;
  margin-top: 10px;
}

#chat {
  max-height: 350px;
  overflow-y: scroll;
}

#otherMessage, #userMessage, #serverMessage {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  margin: 0px;
}

#userMessage {
  text-align: right;
  color: blue;
}

#serverMessage {
  color: red;
  text-align: center;
}

#message ,#gameMessage{
  resize: none;
}

#kickUserList {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

#kick {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.host, .player {
  text-align: right;
  font-size: 20px;
  height: 50px;
}

.host {
  color: red;
}

.host img, .player img {
  float: left;
}

.topBarElement {
  width: 33%;
}

#topBarDisplay, #gameChatControls {
  display: flex;
}

#previousImageGuess {
  text-align: left;
}

#roundTimer {
  text-align: center;
  color: green;
}

#roundNumber {
  text-align: right;
}

.player {
  color: blue;
}

#gameChat {
  max-height: 300px;
  overflow-y: scroll;
}

#canvas, #drawingPlaceholder {
  border: 1px solid black;
  width: 100%;
  padding-bottom: 4%;
  background-color: green;
}

#drawingPlaceholder {
  padding-bottom: 50%;
}
