body {
  margin-top: 30px;
  background-color: #dff3fa;
}
.well{
  border: 1px solid #000000;
}



#onlineUsers h3, h4, #hostControls h3 {
  text-align: center;
  margin-top: 0px;
}

#buttonControls {
  display: flex;
  justify-content: space-between;
}
 #kickControls{
   display:flex;
   justify-content: space-between;
 }

#messageForm {
  padding: 0px;
  position: initial;
  margin-top: 10px;
}

#chat {
  max-height: 350px;
  overflow-y: scroll;
}

#otherMessage, #userMessage, #serverMessage {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  overflow-y: auto;
  background-color: white;
}

.list-group-item{
  border:1px solid #000000;
  margin:4px;
  overflow-y: auto;
}
.form-control{
  border:1px solid #000000;
}

#gameChatArea{
}

#userMessage {
  text-align: right;
  color: blue;
}

#serverMessage {
  color: red;
  text-align: center;
}

#message ,#gameMessage{
  resize: none;
}

#kickUserList {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

#kick {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.host, .player {
  text-align: right;
  font-size: 20px;
  height: 50px;
}

.host {
  color: red;
}

.host img, .player img {
  float: left;
}

.topBarElement {
  width: 33%;
}

#topBarDisplay, #gameChatControls {
  display: flex;

}
::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

body {
  -ms-overflow-style:none;
}

#gameChatControls, #chatbox {
  border: 1px solid #000000;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
}





#previousImageGuess {
  text-align: left;
}

#roundTimer {
  text-align: center;
  color: green;
}

#roundNumber {
  text-align: right;
}

.player {
  color: blue;
}

#gameChat {
  max-height: 268px;
  overflow-y: scroll;
}

#leftsideDrawing{
  width: 100%;
  height: 124px;
}

#drawingPlaceholder {
  border: 1px solid black;
  width: 100%;
  padding-bottom: 4%;
  text-align: center;
  height: 134px;
}

#drawingPlaceholder h2 {
  font-weight: bold;
}

#drawingPlaceholder h3 {
  color:white;
}
