body{
  margin-top: 30px;
  background-color: #ADD8E6;
}
#onlineUsers h3, h4{
  text-align: center;
}

#hostControls h3{
  text-align: center;
}
#wordDisplay{
  text-align: center;
}
#wordDisplay h1{
  color:red;
}
#buttonControls{
  display: flex;
  justify-content: space-between;
}

#messageForm{
  padding: 0px;
  position: initial;
  margin-top: 10px;
}
.well{
}
#chat{
  min-height: 350px;
  max-height: 350px;
  overflow-y: scroll;
}
#otherMessage, #userMessage, #serverMessage{
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  margin: 0px;
}
#userMessage{
  text-align: right;
  color:blue;
}
#serverMessage{
  color:red;
  text-align:center;
}
#message{
  resize: none;
}

#kickUserList{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

#kick{
  border-bottom-right-radius:0px;
  border-top-right-radius:0px;
}
#kickControls{
    display: flex;
    justify-content: space-between;
}
#roundTimeInput{
  width: 100px;
}

.host, .player{
  text-align: right;
  font-size: 20px;
  height:50px;
}

.host{
  color:red;
}
.host img, .player img{
  float:left;
}

.player{
  color:blue;
}
