body {
  margin-top: 30px;
  background-color: #ADD8E6;
}

h3 {
  text-align: center;
  font-weight: bold
}

#gameDetails {
  min-height: 235px;
  max-height: 235px;
  overflow-y: scroll;
}

#loginBox {
  min-height: 300px;
  max-height: 300px;
}

#loggedIn {
  display: none;
}

.btn-group {
  width: 100%;
}

.uiBtn {
  width: 50%;
}

#JoinCustomBtn {
  width: 100%;
}